.sidebar-col{
    background-color: orange !important;
}
.accordion-button::after {
    flex-shrink: 0;
    width: 0 !important;
    height: var(--bs-accordion-btn-icon-width);
    margin-left: auto;
    content: "";
    background-image: var(--bs-accordion-btn-icon);
    background-repeat: no-repeat;
    background-size: var(--bs-accordion-btn-icon-width);
    transition: var(--bs-accordion-btn-icon-transition);
}

.text-custome{
    color: orange;
}

table, th, td {
    border: 1px solid rgb(87, 87, 87);
    border-collapse: collapse;
  }